header, nav, main {
    max-width: 1500px;
    margin: auto;
}


/* NAVIGATION STUFF GOES HERE  */

nav {
    display: block;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 1rem;
    border: none;
}

nav ul li a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

nav ul li a:hover {
    color: $greyColor;
    text-decoration: underline;
}

/* --------------------------- MAIN --------------------------- */


main picture {
    display: block;
    width: 100%;
    img {
        display: block;
        width: 100%;
        max-width: 1500px;
    }
} // end main picture


video {
    display: block;
    width: 90%;
    margin: 1rem auto;
} // end video

details {
    width: 90%;
    margin: 1rem auto;
}
