/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
#navWrapper {
    background-color: $primaryColor;
} // end nav wrapper

nav {
    display: block;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li{
    padding: .8rem 0;
    text-align: center;
    list-style-type: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent, white, transparent) 1;
    a {
        color: #fff;
        font-size: 0.9rem;
        text-decoration: none;
    }
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul li.active {
    background-color: $accentColor;
    a {color: #fff;}
}






/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: $secondaryColor;
        font-weight: $lightWeight
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
}// end main

main picture {
    display: block;
    width: 100%;
    img {
        display: block;
        width: 100%;
    }
} // end main picture


video {
    display: block;
    width: 95%;
    margin: 1rem $gutter;
} // end video

details {
    width: 95%;
    margin: 1rem $gutter;
    padding: .5rem;
    border: 1px solid $greyColor;
    border-radius: 5px;
    summary {
        font-weight: $lightWeight;
        color: $secondaryColor;
        cursor: pointer;
    }
    p {
        margin-top: .5rem;
        color: #333;
        line-height: $leading;
    }
} // end details

/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor;
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: white;
    text-align: center;
    line-height: $leading;
    a {color: white;}
}// end footer