$primaryColor: #1f7f55; 
$secondaryColor: #01377d;
$accentColor: #0d313a;
$greyColor: lightgrey;

$defaultFont: "Noto Sans", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;